<h1>Burgers</h1>

<h2></h2>

<h2></h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="addBurger" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form> 





<h2>Burgers to devour</h2>


<ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button class="changeDevour" data-devoured={{devoured}} data-id={{id}}>Eat the burger</button> 
        <button class= "delete" data-id={{id}}>Delete the burger</button> 
    </li>
{{/unless}}
{{/each}}
</ol>

<h1>Burgers you've devoured</h1>
<ol>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
        <button  class="changeDevour" data-devoured={{devoured}} data-id={{id}}>I'M FULL!</button>
        <button class= "delete" data-id={{id}}>Delete the burger</button> 

    </li>
{{/if}}
{{/each}}
</ol>